<!DOCTYPE html>
<html>
  <head>

    <title>Hideout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Seymour+One&display=swap" rel="stylesheet">
    
    <script>
      window.logourl = "<%= image_url("hideout_2nd.png") %>"
      window.backlefturl = "<%= image_url("discordLEFT.png") %>"
      window.background = " <%= image_url("splashBackground.png") %>"
      window.backrightlurl = "<%= image_url("discordRIGHT.png") %>"
      window.loginurl = "<%= image_url("hideout_login.png") %>"
      window.servericonurl = "<%= image_url("hideout_icon.png") %>"
      window.demourl = "<%= image_url("demo_user.png") %>"
      window.profile1 = "<%= image_url("profile1.png") %>"
      window.profile2 = "<%= image_url("profile2.png") %>"
      window.profile3 = "<%= image_url("profile3.png") %>"
      window.profile4 = "<%= image_url("profile4.png") %>"
      window.profile5 = "<%= image_url("profile5.png") %>"
      window.profile6 = "<%= image_url("profile6.png") %>"
      window.profile7 = "<%= image_url("profile7.png") %>"
      window.profile8 = "<%= image_url("profile8.png") %>"
      window.profile9 = "<%= image_url("profile9.png") %>"
      window.profile10 = "<%= image_url("profile10.png") %>"
      //<link rel='icon' href="<%= image_url("demo_user.png") %>" type='image/png'/>
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
