<!DOCTYPE html>
<html>
  <head>
    <title>Hideout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    
    <script>
      window.logourl = "<%= image_url("hideout_2nd.png") %>"
      window.backlefturl = "<%= image_url("discordLEFT.png") %>"
      window.backrightlurl = "<%= image_url("discordRIGHT.png") %>"
      window.authurl = "<%= image_url("lonely-mountains.jpg") %>"
      window.loginurl = "<%= image_url("hideout_login.jpg") %>"
      window.servericonurl = "<%= image_url("hideout_icon.png") %>"
      window.demourl = "<%= image_url("demo_user.png") %>"
    </script>
    <script><link rel='icon' href='demo_user.png' type='image/png'/></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
